@model WebApp.ViewModels.Product.IndexViewModel

@{
    ViewData["Title"] = "Products";
    var isAdmin = User.IsInRole("Admin");
}

<h1>@(isAdmin ? "" : "My ")Products</h1>

<p>
    @if (isAdmin)
    {
        <a asp-action="Create">Create New</a>
    }
    else
    {
        <a asp-controller="UserProduct" asp-action="Create">Add product</a>
    }
</p>

@if (isAdmin)
{
    <div class="list-group">
        @foreach (var item in Model.Products!)
        {
            <div class="d-flex list-group-item list-group-item-action">
                @(item.ProductName)
                <span class="flex-grow-1"></span>
                <span>
                    <a class="badge badge-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="badge badge-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </span>
            </div>
        }
    </div>
}
else
{
    <div class="list-group">
        @foreach (var item in Model.UserProducts!)
        {
            <div class="d-flex list-group-item list-group-item-action">
                <span class="pl-2">@item.Product!.ProductName</span>
                <span class="pr-2 badge badge-primary badge-pill">@item.AvailableAmount @item.Units</span>
                <span class="flex-grow-1"></span>
                <a class="badge badge-info" asp-controller="UserProduct" asp-action="Edit" asp-route-id="@item.Id">Edit Amount</a>
            </div>
        }
    </div>
}